body {
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

article {
  padding: 20px;
}
#outro {
  font-size: smaller;
}
button {
  margin: 10px;
}
footer {
  font-size: smaller;
  margin-top: 15px;
}
